### 부가가치세 계산하기

In [2]:
# 세율이 10% 이므로 1.1을 곱함
5000 * 1.1

5500.0

In [1]:
# 소비자 가격을 1.1로 나누면 부가세를 뺀 물건 각격
5500 / 1.1

5000.0

In [3]:
8000/1.1

7272.727272727272

In [4]:
round(8000/1.1, 1)   # 8000을 1.1로 나누고, 소수점 첫째 자리까지 출력

7272.7

In [5]:
round(8000/1.1)   # 소수점 이하는 반올림

7273

In [6]:
round(8000 * (1/11))  # 부가세 계산해서 출력

727

### lambda 함수
- 장정 : 쉽게 함수를 정의 할 수 있음
- 단점 : 가독성이 떨어짐

In [10]:
# y = 3x
y = lambda x : 3 * x      # 3 * x 연산으 수행하는 함수를 y라는 객체에 넣기
y(12)                     # x = 12 입력

36

In [12]:
add = lambda a, b : a + b
add(2, 3)

5

In [15]:
littlePrince = '''여섯 살 적에 나는 '체험한 이야기'라는 제목의, 원시림에 관한 책에서 기막힌 그림 하나를 본 적이 있다'''

In [18]:
littlePrince[:10]

'여섯 살 적에 나는'

In [17]:
short = lambda x : x[:10]      # x으 ㅣ앞 여ㄹ 글자만 자르는 short()함수를 만듭니다
short(littlePrince)            # x에 littlePrince를 입력

'여섯 살 적에 나는'

##### lambda로 환율 계산기 만들기

In [23]:
exchange = lambda won : won * 0.00086     # lambda로 환율 계산 함수를 입력
exchange(1000000)                         # 100만원을 바꾸면 860달러

860.0

In [22]:
exchange(500000)

430.0

### def 함수

In [27]:
def add(a,b):                # add는 함수의 이름,  변수 a,b를 입력받음
    return a +b

add(233, 43)                 # a와 b의 합을 반환

276

##### der함수로 계산기 만들기

In [28]:
def calculator(a, b):
    return a + b, a - b, a * b, a / b

In [29]:
calculator(12, 3)

(15, 9, 36, 4.0)

### input 함수

In [32]:
a = input('숫자를 하나 입력해 보세요: ')

In [33]:
a

'23'

In [35]:
type(a)         # input() 함수는 사용자가 입력한 값을 문자(srt)로 저장

str

In [37]:
a = int(a)          # a를 정수로 변경
type(a)

int

In [43]:
a = float(a)      # a를 실수로 변경
type(a)

float

In [44]:
c=17/7
c

2.4285714285714284

In [45]:
type(c)

float

In [46]:
c = round(c, 1)
c

2.4

### if-else

- 정수를 입력받아 입력받은 정수가 홀수이면 홀수, 짝수이면 짝수를 반환하는 프로그램

In [47]:
def seperate():
    a = int(input('자연수 중 하나를 입력하세요: '))    # 숫자를 입력받아 정수형으로 변경
    if a % 2 == 0:
        print('짝수')
    else:
        print('홀수')

In [48]:
seperate()        # 2를 입력

짝수

In [49]:
seperate()        # 1를 입력

홀수

### 서비스 가격 출력 프로그램

In [58]:
price = [23, 40, 67]

In [61]:
for i in price:
    i * 1.1

In [66]:
def service_price():
    service = input('서비스 종류를 입력하세요, a/b/c: ')      # 서비스 종류 입력
    valueAdded = input('부가세를 포함합니까? y/b: ')          # 부가세 포함 여부 입력
    if valueAdded == 'y':                                   # 부가세가 있을 때
        if service == 'a':                  # 서비스 종류가 a 라면 
            result = 23 * 1.1               
        if service == 'b':
            result = 40 * 1.1
        if service == 'c':
            result = 67 * 1.1        
    if valueAdded == 'n':                                   # 부가세가 없을 때
        if service == 'a':
            result = 23
        if service == 'b':
            result = 40
        if service == 'c':
            result = 67 
    print(round(result, 1), '만 원 입니다')

In [69]:
service_price()            # 사용자가 b -> a 순으로 입력

44.0 만 원 입니다

In [70]:
service_price()            # 사용자가 c -> n 순으로 입력

67 만 원 입니다

68-5번 문제

In [77]:
def mean(a,b):
    return((a+b) / 2)

In [78]:
mean(33, 22)

27.5

In [79]:
45 + mean(33, 22)

72.5

68-6번 문제

In [80]:
b = [1,2,3,10,11,12]

In [81]:
for i in b:
    if i < 10:
        print(i)
    else:
        print(i - 10)

1
2
3
0
1
2